<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <connectionStrings>
    <add name="AdventureWorks" connectionString="data source=DAVE-PC3;Integrated Security=SSPI;Initial Catalog=AdventureWorksLT2008"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>